################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.db
/.idea/
/cmake-build-debug/
/out/
